<html>

    <head>

        <meta charset="utf-10">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>Γράφω ό,τι μου κατέβει στο κεφάλι.</title>

    </head>



    <body>

        <nav class="navbar navbar-inverse">

            <div class="container">

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                        <span class="sr-only">Toggle navigation</span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                    </button>

                    <a class="navbar-brand" href="#">ό,τι μου κατέβει</a>

                </div>

            </div>

        </nav>

        <div class="container">

        <div class="row">

            <b>Προσοχή: Γράφω ό,τι μου κατέβει στο κεφάλι κι αν θέλετε, κάνετε το ίδιο!</b>

        </div>

        <div class="row">

            1. Το πρώτο μου σχόλιο είναι ότι το ανωτέρω "ό,τι" είναι αναφορική αντωνυμία γένους ουδετέρου και σημαίνει "οτιδήποτε".

        </div>

        <div class="row">

            2. Δεύτερο σχόλιο: το πρώτο ότι στο πρώτο σχόλιο είναι ειδικός σύνδεσμος και εισάγει ειδικές προτάσεις (προφανώς το αναφορικό "ό,τι" εισάγει αναφορικές προτάσεις).

        </div>

        <div class="row">

            3. Τρίτο σχόλιο: δεν ξέρω τι άλλο να σχολιάσω!

        </div>

        {% for comment in comments %}

            <div class="row">

                {{ comment }}

            </div>

        {% endfor %}

        <div class="row">

            <form action="." method="POST">

                <textarea name="contents" placeholder="Γράψε κάτι..." class="form-control"></textarea>

                <input type="submit" class="btn btn-success" value="Ανέβασέ το!">

            </form>

        </div>

        <div>

            Αν δεν έχετε πολλή όρεξη , επισκεφθήτε ό,τι σας κάνει κέφι!

        </div>

        <div>
            <a href="http://www.google.com/" target="_blank">
                <input type="button" value="visit Google" />
            </a>
            <a href="https://en.wikipedia.org/wiki/Main_Page" target="_blank">
                <input type="button" value="Visit Wiki" />
            </a>
            <a href="http://tiemathasimera.blogspot.com" target="_blank">
                <input type="button" value="H Σελίδα μου" />
            </a>
            </div>
        <p></p>
        </div><!-- /.container -->

        <nav class="navbar navbar-inverse">

            <div class="container">

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                        <span class="sr-only">Toggle navigation</span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                    </button>

                    <a class="navbar-brand" href="#">δημιουργός Φιλομαθής</a>

                </div>

            </div>

        </nav>

    </body>

</html>
